.DS_Store
/build/
/doc/
/src/js/actores/aceituna.js
/src/js/actores/actor.js
/src/js/actores/cooperativista.js
/src/js/depurador.js
/src/js/fisica.js
/src/js/imagenes.js
/src/js/init.js
/src/js/pilas.js