<div class='contenedor-vista'>
				<div id="content-header" class="mini">
					<h1>¡Hola!</h1>
          
          <p>Te damos la bienvenida a <a href='#/acercade'>pilas-engine</a>, aquí están las opciones principales:</p>
				</div>
      
				<div class="container-fluid">
          
					<div class="row">
						<div class="col-xs-12 center" style="text-align: center;">					
							<ul class="quick-actions">
								<li>
									<a href="#/interprete">
                    <i class="grande fa fa-chevron-right"></i> 
                    El intérprete
									</a>
								</li>
								<li>
									<a href="#/tutoriales">
										<i class="grande fa fa-gift"></i>
                    Tutoriales
									</a>
								</li>
								<li>
									<a href="#/ejemplos">
										<i class="grande fa fa-th"></i>
                    Ejemplos
									</a>
								</li>
								<li>
									<a href="#/manual">
										<i class="grande fa fa-book"></i>
										Manual
									</a>
								</li>
							</ul>
						</div>	
					</div>
					
				</div>
      
	</div>