
<div id='editor' class='oculto'>
	
	<div id='botones-editor'>
		<a ng-click='publicar()' class='btn btn-success' href=''>Publicar</a>
		<a ng-click='ejecutar()' class='btn btn-warning' href=''>Ejecutar</a>
	</div>
	
	<textarea ui-codemirror="{onLoad: codemirrorLoaded}" ui-codemirror="editorOptions" ng-model='codigo'></textarea>
	
</div>

<div id='panel-interprete' class='panel-interprete-expandido'>
	<div id='contenedor-canvas'>
		<canvas id='canvasInterprete'></canvas>
	</div>
	<div id='controles-canvas'>
		<ul class='izquierda'>
			<li><a ng-click='alternar_editor()' class='btn btn-success' href=''>Editor</a></li>
		</ul>
			
		<ul>
			<li><a class='btn btn-success' href=''>A</a></li>
			<li><a class='btn btn-success' href=''>B</a></li>
			<li><a class='btn btn-success' href=''>C</a></li>
		</ul>
		
	</div>

	<div id="console" class="stretch consola-interprete">
			<ul id="output"></ul>
			<form>
				<textarea autofocus id="exec" spellcheck="false" autocapitalize="off" rows="1" autocorrect="off"></textarea>
			</form>
	</div>
</div>