<div class="modal-body">
    <h2>Publicar en la web</h2>
    
    <p>Mediante esta sección vas a poder publicar tu videojuego en
    una plataforma de la comunidad.</p>

    <p>Completá los campos de textos para que otras personas puedan
    conocer sobre tu juego.</p>
    
    
    <div class='subir-datos'>
        <p>Titulo: <input type="text" id='titulo' ng-model='titulo' placeholder='un titulo'></p>
    </div>

    <img class='subir-preview' id='imagen' src={{imagen_src}} width='160' height='120'/>
    
</div>

<div class="modal-footer">
    
    <span ng-show='error' class='error'>{{error}}</span>
    <span ng-hide='error'>{{mensaje}}</span>
    
    <button ng-hide='url_juego' ng-disabled='mensaje || error' class="btn btn-success" ng-click="subir()">Subir</button>
    <button ng-show='url_juego' class="btn btn-warning" ng-click="abrir_juego_en_el_navegador()">Abrir en el navegador</button>
    <button class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
    
</div>
