<div class="modal-body">
    <h2>Publicar en la web</h2>
    
    <p>Mediante esta sección vas a poder publicar tu videojuego en
    una plataforma de la comunidad.</p>

    <p>Completá los campos de textos para que otras personas puedan
    conocer sobre tu juego.</p>
    
    
    <div class='subir-datos'>
        <p>Titulo: <input type="text" placeholder='un titulo'></p>
        
        
    </div>

    <img class='subir-preview' id='imagen' src={{imagen_src}} width='160' height='120'/>
    
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="subir()">Subir</button>
    <button class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
</div>
